:root {
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --green: #00D100;
  --green-dark: #00A300;
  --danger: #e25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green);
}

body {
  background-color: var(--gray-100);
}

body,
input,
textarea,
button {
font-family: "open sans", sans-serif;
--webkit-font-smoothing: antialiased;
}

@media (max-width: 1024px) {
  html {
      font-size: 95%;
  }
}